// Firestore Security Rules
// Firebase Console > Firestore Database > ルール に貼り付けてください

rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /restaurants/{document} {
      // ログイン済みユーザーなら読み書き可能
      allow read, write: if request.auth != null;
    }
  }
}
